.clear:after {
    content: '';
    display: table;
    clear: both;
}


html {
    font-size: 100px;
}
body {
    margin: 0;
    font-size: 0.12rem;
}

.header {
    background: #EA4C88;
    text-align: center;
    font-size: 0.14rem;
    color: white;
    height: 0.64rem;
    position: relative;
    z-index: 999;

}
    .header .fl {
        float: left;
        width: 0.21rem;
        height:0.2rem;
        margin-left: 0.12rem;
        margin-top: 0.32rem;
        cursor: pointer;
    }
    .header .fr {
        float: right;
        height: 0.22rem;
        width: 0.19rem;
        margin-right: 0.12rem;
        margin-top: 0.32rem;
        cursor: pointer;

    }
    .header .fm{
            height: 0.17rem;
            width: 0.6rem;
            margin-top: 0.32rem;

         }
.user-info {
  
    text-align: center;
    height: 2.96rem;
    box-shadow: 0 0.01rem 0.2rem black; 

    position: relative;

  }
  .trangle{
               width: 0.13rem;
        height:0.11rem;
        position: relative;
        top: 0;
        left: 0.34rem;
        z-index: 999;
    }
    .user-info .photo_u {
        width: 1.27rem;
        height: 1.39rem;
        margin-top: 0.24rem;
        margin-bottom: 0.15rem;
       
    }
    .user-info .user-name {
        font-size: 0.16rem;
        color: black;
 
    }
    .user-info .user-email {
        font-size: 0.12rem;
        color: grey;
        display: inline-block;
        margin-top: 0.04rem;
    }
    .user-info .detail {
        height: 0.2rem;
        font-size: 0.14rem;
        margin-bottom: 0.20rem;
        margin-top:0.36rem;
    }
        .user-info .detail > div {
            float: left;
            width: 25%;
        }

    .detail span{
        color:grey;
    }
    .detail span.over-blod{
        font-weight: 800;
        color: black
    }
    .detail .detail_a{
        width: 0.21rem;
        height: 0.18rem;      
    }
    .detail .detail_b{
        width: 0.21rem;
        height: 0.2rem;      
    }

    .detail .detail_c{
        width: 0.21rem;
        height: 0.2rem;      
    }
    .detail .detail_d{
        width: 0.16rem;
        height: 0.2rem;      
    }

.cards {
    background: black;
    margin-top: -0.11rem;
}
    .cards img {
        float: left;
        width: 50%;
        height: 1.50rem;
    }

.bottom {
    background: white;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    position: relative;
}
    .bottom .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -0.07rem;
        font-size: 0.14rem;
        margin-top: -0.07rem;
    }
 